/* *{
    border:  solid black 1px;
} */

body {
 
    font-family: Arial, sans-serif;
    max-width: 1280px;
    margin: 0 auto !important;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

   
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flex-container1 {
    font-size: small;
    display: flex;
    align-items:center;
    justify-content:space-between;
   
}

h1,
p {
    text-align: center;
    
}

.card {
    padding: 15px;
    margin: 20px;
    border: 1px solid #f8f5f5;
}

.table .row {
    display: flex;
    margin: 5px 0;
}



.card-header {
    flex: 1;
}